* {
    font-family: 'Poppins', sans-serif;
}

@media only screen and (max-width: 1500px) {
    /*Bandeau top avec menu*/
    .topnav {
        overflow: hidden;
        background-color: #333;
        position: relative;
        color: white;
        font-size: 50px;
    }

    #links {
        display: none;
        background-color: #333;
    }

    .topnav .icon {
        display: block;
        color: white;
        margin-top: 15px;
    }

    a.nav-link {
        font-size: 50px;
        color: white;
    }

    a.nav-link:hover {
        background-color: black;
    }

    a.nav-link:active {
        color: wheat;
    }

    /*En tete recette*/
    #headerRecipe h1 {
        font-size: 70px;
        font-weight: bold;
        margin: 10px 0 20px 0;
    }

    #headerRecipe button {
        font-size: 30px;
        font-weight: bold;
        margin: 5px 15px;
    }

    #headerRecipe .btn-danger {
        background-color: tomato;
    }

    #headerRecipe .btn-warning {
        background-color: wheat;
    }

    #headerRecipe h3 {
        font-size: 40px;
        margin: 10px 0;
    }

    #headerRecipe #categories {
        display: flex;
        justify-content: center;
    }

    #headerRecipe .category_recipe {
        min-width: 200px;
        padding: 10px;
        background-color: lightskyblue;
    }
}