<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Bienvenue !</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <link href="https://use.fontawesome.com/releases/v5.0.7/css/all.css" rel="stylesheet">
    <style>
		/* Header et nav*/
        header {
            color: wheat;
            min-height: 300px;
            background-color: brown;
        }
        header h1{
            font-size: 100px;
            margin: 10px 30px;
        }
        a.nav-link {
            font-size: 50px;
            color: white;
        }

		a.nav-link:hover{
			background-color: black;
		}

		a.nav-link:active {
			color: wheat;
		}

        th{
            font-size: 40px;
        }

        td {
            font-size: 30px;
            min-width: 100px;
        }

		td[instruction]{
			min-width: 400px;
		}

        section {
			margin-top: 20px;
			border: black solid 1px;
		}

    </style>
    <script type="text/javascript" src="../static/js/script.js"></script>
</head>
<body class="container-fluid">
    <header class="row">
		<h1 class="col text-center">Liste des ingrédients</h1>
    </header>
    <nav class="row bg-dark text-white text-center">
        <div class="col-lg-4 col-sm-12 menu">
            <a class="nav-link" href="/">Recettes</a>
        </div>
        <div class="col-lg-4 col-sm-12 menu">
            <a class="nav-link" href="#">Ingrédients</a>
        </div>
        <div class="col-lg-4 col-sm-12 menu">
            <a class="nav-link" href="#">Ajout</a>
        </div>
    </nav>
    <main class="row">
         <div class="col-1"></div>
         <div class="col-10">
			<h1 id="recipeTitle"></h1>
			<h3 id="recipeSource"></h3>
			<h3 id="recipeNumber"></h3>
			<div id="listIngredientsFull">

			</div>
			<article id="sections">

            </article>
         </div>
         <div class="col-1"></div>
    </main>

	 <!--La modal d'edit d'ingrédient-->
	 <div class="modal fade" id="modalEditIngredient" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header text-center">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true"><i class='fas fa-times'></i></span>
					</button>
				</div>
				<div class="modal-body mx-3 row">
					<div class="col">
						<form action="" method="post">
							<input type="hidden" id="sectionIdforEdit">
							<input type="hidden" id="ingredientIdforEdit">
							<select id="listIngredientsModal">

                            </select>
							<br>
							<input type="number" id="editQuantity"/>
							<br>
                            <select id="editUnit">
                                <option value="g">g</option>
                                <option value="nounit">Sans unité</option>
                            </select>
							<button type="button" class="btn btn-warning" onclick="editIngredient()">Ok</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

    <!-- La modal de suppression -->
    <div id="modalDeleteIngredient" class="modal fade" tabindex="-1" role="dialog"
		aria-labelledby="deleteModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<input type="hidden" id="sectionIdforDelete">
                    <input type="hidden" id="ingredientIdforDelete">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true"><i class='fas fa-times'></i></span>
					</button>
				</div>
				<div class="modal-body">
					<p>Êtes vous sûr ?</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger" onclick="deleteIngredient()">Oui</button>
					<button type="button" class="btn btn-dark" data-dismiss="modal">Annuler</button>
				</div>
			</div>
		</div>
	</div>

	 <!--La modal d'edit d'instruction-->
	 <div class="modal fade" id="modalEditInstruction" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header text-center">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true"><i class='fas fa-times'></i></span>
					</button>
				</div>
				<div class="modal-body mx-3 row">
					<div class="col">
						<form action="" method="post">
							<input type="hidden" id="section2IdforEdit">
							<input type="hidden" id="instructionIdforEdit">
							<textarea id="instructionText"></textarea>
							<br>
							<button type="button" class="btn btn-warning" onclick="editInstruction()">Ok</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
<script type="text/javascript">
	let id_recipe = window.location.toString().split('/')[4]
    window.onload = function(){
		displayIngredientRecipe()
        $.getJSON(port + "api/recipes/"+id_recipe, function(data) {
            $("#recipeTitle").html(data.name)
			$("#recipeNumber").html("Nombre de personnes : " + data.nbr_person)
			$.getJSON(port + "api/sources/" + data.id_src, function (source) {
				$("#recipeSource").html("Source : " + source.name)
			})
        })
        $.getJSON(port + "api/sections/recipe/"+id_recipe, function(data) {
            $.each(data, function(key, val) {
                let id_section = val.id
                $("#sections").append($("<section>")
                    .attr("id","section"+id_section)
                    .append($("<h2>")
                        .html(val.name)))
				$("#section" + id_section).append($("<div>").addClass("ingredients").attr("section",id_section))
				displayIngredient(id_section)
				$("#section" + id_section).append($("<div>").addClass("instructions").attr("section",id_section))
                displayInstruction(id_section)
            })
        })
    }

    let displayIngredient = function(id_section){
    	if ($("div.ingredients[section=" + id_section + "]").length) {
    		$("div.ingredients[section=" + id_section + "]").empty()
		}
    	$.getJSON(port + "api/ingredients/section/"+id_section, function(data) {
			$("div.ingredients[section=" + id_section + "]").append($("<table>")
					.append($("<thead>")
							.append($("<th>").html("Ingredients"))
							.append($("<th>"))
							.append($("<th>"))
							.append($("<th>"))
							.append($("<th>")))
					.append($("<tbody>")
							.attr("id", "ingredients_section" + id_section)))
			$.each(data, function (key, val) {
				let tr = $("<tr>").attr("section", id_section).attr("ingredient", val.id_ingredient)
				tr.append($("<td>").attr("section", id_section).attr("ingredient", val.id_ingredient).attr("field", "name").html(val.name + " : "))
				tr.append($("<td>").attr("section", id_section).attr("ingredient", val.id_ingredient).attr("field", "quantity").html(val.quantity))
				if (val.unit != "nounit") {
					tr.append($("<td>").attr("section", id_section).attr("ingredient", val.id_ingredient).attr("field", "unit").html(val.unit))
				} else {
					tr.append($("<td>").attr("section", id_section).attr("ingredient", val.id_ingredient).attr("field", "unit"))
				}
				tr.append($("<td>").append($("<button>")
						.attr("type", "button")
						.addClass("btn btn-warning")
						.attr("onclick", "toggleModalEditIngredient(" + id_section + "," + val.id_ingredient + ")")
						.html("<i class='fas fa-cog'></i>")))
				tr.append($("<td>").append($("<button>")
						.attr("type", "button")
						.addClass("btn btn-danger")
						.attr("onclick", "toggleModalDeleteIngredient(" + id_section + "," + val.id_ingredient + ")")
						.html("<i class='fas fa-minus'></i>")))

				$("#ingredients_section" + id_section).append(tr)

			})
			$("div.ingredients[section=" + id_section + "]").append($("<button>")
										.attr("type","button")
										.addClass("btn btn-success")
										.attr("onclick","toggleModalEditIngredient(" + id_section + ", 0)")
										.html("<i class='fas fa-plus'></i>"))
		})
	}

	let displayIngredientRecipe = function(){
    	$("#listIngredientsFull").empty()
		$.getJSON(port + "api/ingredients/recipe/"+ id_recipe, function(data) {
			$.each(data, function(key, val) {
				$("#listIngredientsFull").append($("<p>").html(val.name + " : " + val.quantity + " " + val.unit))
			})
		})
	}

	let displayInstruction = function(id_section){
		if ($("div.instructions[section=" + id_section + "]").length) {
    		$("div.instructions[section=" + id_section + "]").empty()
		}
		$.getJSON(port + "api/instructions/section/"+id_section, function(data) {
			$("div.instructions[section=" + id_section + "]").append($("<table>")
											.append($("<thead>")
													.append($("<th>").html("Instructions"))
													.append($("<th>"))
													.append($("<th>")))
											.append($("<tbody>")
												.attr("id", "instructions_section"+id_section)))
			$.each(data, function(key, val) {
				let tr = $("<tr>").attr("section", id_section).attr("instruction", val.id)
				tr.append($("<td>").attr("section", id_section).attr("instruction", val.id).html(val.text_ins))
				tr.append($("<td>").append($("<button>")
						.attr("type", "button")
						.addClass("btn btn-warning")
						.attr("onclick", "toggleModalEditInstruction(" + id_section + "," + val.id + ")")
						.html("<i class='fas fa-cog'></i>")))
				tr.append($("<td>").append($("<button>")
						.attr("type", "button")
						.addClass("btn btn-danger")
						.attr("onclick", "toggleModalDeleteInstruction(" + id_section + "," + val.id + ")")
						.html("<i class='fas fa-minus'></i>")))
				$("#instructions_section"+id_section).append(tr)
			})
			$("div.instructions[section=" + id_section + "]").append($("<button>")
										.attr("type","button")
										.addClass("btn btn-success")
										.attr("onclick","toggleModalEditInstruction(" + id_section + ", 0)")
										.html("<i class='fas fa-plus'></i>"))
		})
	}

    let toggleModalDeleteIngredient = function(id_section, id_ingredient) {
        $("#modalDeleteIngredient").modal("show")
        $("#sectionIdforDelete").val(id_section)
        $("#ingredientIdforDelete").val(id_ingredient)
    }

    let deleteIngredient = function() {
        let id_section = $("#sectionIdforDelete").val()
        let id_ingredient = $("#ingredientIdforDelete").val()
        $.ajax({
				url : port + "api/sections/" + id_section + "/ingredient/" + id_ingredient,
				type : 'DELETE',
				success : function(result) {
					displayIngredientRecipe()
					displayIngredient(id_section)
				}
        })
        $("#modalDeleteIngredient").modal("hide")
    }

    let toggleModalEditIngredient = function(id_section, id_ingredient){
        $("#modalEditIngredient").modal("show")
        $("#sectionIdforEdit").val(id_section)
        $("#ingredientIdforEdit").val(id_ingredient)
        $.getJSON(port + "api/ingredients", function(data) {
				$.each(data, function(key, val) {
					$("#listIngredientsModal").append($("<option>")
							.attr("id", "ingredient"+val.id)
							.attr("value", val.id)
							.html(val.name))
				})
			})
    }

    let editIngredient = function () {
		let id_section = $("#sectionIdforEdit").val()
		let id_ingredient_to_edit = $("#ingredientIdforEdit").val()
		let id_new_ingredient = $("#listIngredientsModal option:selected").val()
		let quantity = $("#editQuantity").val()
		let unit = $("#editUnit").val()
		let list_ingredient = []

		$("tr[ingredient][section=" + id_section + "]").each(function () {
			list_ingredient.push($(this).attr("ingredient"))
		})
		if (list_ingredient.indexOf(id_new_ingredient) >= 0 && id_new_ingredient != id_ingredient_to_edit) {
			alert("Ingrédient déjà dans la liste !")
		} else {
			let mapping = {
				"quantity": parseInt(quantity),
				"unit": unit
			}
			if (id_ingredient_to_edit > 0) {
				$("[section=" + id_section + "][ingredient=" + id_ingredient_to_edit + "][field='name']").html($("#listIngredientsModal option:selected").text())
				$("[section=" + id_section + "][ingredient=" + id_ingredient_to_edit + "][field='quantity']").html(quantity)

				if ($("#editUnit") != "nounit") {
					$("[section=" + id_section + "][ingredient=" + id_ingredient_to_edit + "][field='unit']").html(unit)
				} else {
					$("[section=" + id_section + "][ingredient=" + id_ingredient_to_edit + "][field='unit']").empty()
				}

				$("[section=" + id_section + "][ingredient=" + id_ingredient_to_edit + "]").attr("ingredient", id_new_ingredient)

				$.ajax({
					url: port + "api/sections/" + id_section + "/ingredient/" + id_ingredient_to_edit,
					type: 'DELETE',
					success: function (result) {
						$.ajax({
							url: port + "api/sections/" + id_section + "/ingredient/" + id_new_ingredient,
							type: 'POST',
							data: JSON.stringify(mapping),
							contentType: "application/json; charset=utf-8",
							dataType: "json",
							success: function (result) {
								displayIngredientRecipe()
								displayIngredient(id_section)
							}
						})
					}
				})
			} else {
				$.ajax({
					url: port + "api/sections/" + id_section + "/ingredient/" + id_new_ingredient,
					type: 'POST',
					data: JSON.stringify(mapping),
					contentType: "application/json; charset=utf-8",
					dataType: "json",
					success: function (result) {
						displayIngredientRecipe()
						displayIngredient(id_section)
					}
				})
			}
			$("#modalEditIngredient").modal("hide")
		}
	}

	let toggleModalEditInstruction = function(id_section, id_instruction){
        $("#modalEditInstruction").modal("show")
        $("#section2IdforEdit").val(id_section)
        $("#instructionIdforEdit").val(id_instruction)
		if (id_instruction > 0 ){
			$("#instructionText").html($("td[section=" + id_section + "][instruction=" + id_instruction + "]").html())
		} else {
			$("#instructionText").empty()
		}
    }

    let editInstruction = function () {
		let id_section = parseInt($("#section2IdforEdit").val())
		let id_instruction = $("#instructionIdforEdit").val()
		let text_instruction = $("#instructionText").val()

		let instruction = {
			"text": text_instruction,
			"id_section": id_section
		}

		if (id_instruction > 0 ) {
			$.ajax({
				url: port + "api/instructions/" + id_instruction,
				type: 'PUT',
				data: JSON.stringify(instruction),
				contentType: "application/json; charset=utf-8",
				dataType: "json",
				success: function (result) {
					displayInstruction(id_section)
				}
			})
		} else {
			$.ajax({
				url: port + "api/instructions",
				type: 'POST',
				data: JSON.stringify(instruction),
				contentType: "application/json; charset=utf-8",
				dataType: "json",
				success: function (result) {
					displayInstruction(id_section)
				}
			})
		}
		$("#modalEditInstruction").modal("hide")
	}
</script>
</html>
